.gallery-photos {
	float: right;
	margin: 0 0 15px 0;
	width: 100%;
	}
	
.all_small_thumbnails	{
	height: 441px;
	overflow: scroll;
	}
	
.thumbnail img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	}
	
.thumbnail-inner {
	height: 100px;
	width: 100px;
	overflow: hidden;
	}
	
.caption	{
	
}

/* FIRST GALLERY */

.photo-thumbnails {
	display: block;
	float: right;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}

.thumbnail.current {
	opacity: .3;
	}

	
#big-photo{
	height: 430px;
	width: 430px;
	padding-right: 10px;
	opacity: 1;
	}
	
#big-photo img{
height:100%;
	}
	
	
/* SECOND GALLERY */

.photo-thumbnails2 {
	display: block;
	float: right;
	width: 100%;
	position: relative;
	height: 450px;
	}
	
.thumbnail2 {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}

.thumbnail2.current2 {
	opacity: .3;
	}

#big-photo2{
	height: 430px;
	width: 430px;
	padding-right: 10px;
	padding-bottom: 100px;
	opacity: 1;
	
	}
	
/* THIRD GALLERY */

.photo-thumbnails3 {
	display: block;
	float: right;
	width: 100%;
	position: relative;
	height: 450px;
	}
	
.thumbnail3 {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}

.thumbnail3.current3 {
	opacity: .3;
	}

#big-photo3{
	height: 430px;
	width: 430px;
	padding-right: 10px;
	padding-bottom: 100px;
	opacity: 1;
	
	}
	
/* FOURTH GALLERY */

.photo-thumbnails4 {
	display: block;
	float: right;
	width: 100%;
	position: relative;
	height: 450px;
	}
	
.thumbnail4 {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}

.thumbnail4.current4 {
	opacity: .3;
	}

#big-photo4{
	height: 430px;
	width: 430px;
	padding-right: 10px;
	padding-bottom: 100px;
	opacity: 1;
	
	}
	
/* FIFTH GALLERY */

.photo-thumbnails5 {
	display: block;
	float: right;
	width: 100%;
	position: relative;
	height: 450px;
	}
	
.thumbnail5 {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}

.thumbnail5.current5 {
	opacity: .3;
	}

#big-photo5{
	height: 430px;
	width: 430px;
	padding-right: 10px;
	padding-bottom: 100px;
	opacity: 1;
	
	}
	
	
