/*mobile*/
@media only screen and (max-width: 561px) {
.all_nav	{
	display: inline-block;
	margin: 2% 2% 0 2%;
	position: static;
	width: 95%;
	}
	
.main_container	{
	display: inline-block;
	padding: 2%;
	margin: 0px;
	position: static;
	width: 95%;
	float: none;

	}
#hamburger	{
	display: inline-block;
	float: right;
	cursor: pointer;
	
	}
	
#hamburger	img{
	display: inline-block;
	cursor: pointer;
	
	}

#logo	{
	display: inline-block;
	
	}
	
#logo img	{
	width: 30px;
	}

.nav_elements	{
	display: inline-block;
	}
	
a	{
	display: inline-block;
	text-align:center;
	width: 100%;
	}

.nav_links	{
	display: none;
	}
	
.nav_links li	{
	font-size: 20px;
	margin-bottom: 10px;	
	}

#big-photo{
	height: 75%;
	width: 75%;
	padding-right: 10px;
	padding-bottom: 100px;
	opacity: 1;
	}
	
.all_small_thumbnails	{

	overflow: scroll;
	}
	
#big-photo2{
	height: 75%;
	width: 75%;
	padding-right: 10px;
	padding-bottom: 100px;
	opacity: 1;
	}
	
.thumbnail {
	display: inline-block;
	float: left;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
	.designer img{
	width: 100%;
	float: none;
	margin: 0 0 15px 0;
	}

.all_history img{
	width: 100%;
	margin: 0 20px 0 0;
}
	
/* 	FOR ALBUMS PAGE */

/* FIRST GALLERY */

.photo-thumbnails {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner {
	display: inline-block;
	}	
	
/* SECOND GALLERY */

.photo-thumbnails2 {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail2 {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner2 {
	display: inline-block;
	}
	
/* THIRD GALLERY */

.photo-thumbnails3 {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail3 {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner3 {
	display: inline-block;
	}

/* FOURTH GALLERY */

.photo-thumbnails4 {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail4 {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner4 {
	display: inline-block;
	}
	
/* FIFTH GALLERY */

.photo-thumbnails5 {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail5 {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner5 {
	display: inline-block;
	}

#homepage{
	display: none;
}

}

/*tablet*/
@media only screen and (max-width: 768px) 
				   and (min-width: 561px) {


	
.all_nav	{
	display: inline-block;
	margin: 2% 2% 0 2%;
	position: static;
	width: 95%;
	}
	
.main_container	{
	display: inline-block;
	margin: 2%;
	margin: 0px;
	position: static;
	width: 95%;
	float: none;

	}
#hamburger	{
	display: inline-block;
	float: right;
	cursor: pointer;
	
	}
	
#hamburger	img{
	display: inline-block;
	cursor: pointer;
	
	}

#logo	{
	display: inline-block;
	
	}
	
#logo img	{
	width: 30px;
	}

.nav_elements	{
	display: inline-block;
	}
	
a	{
	display: inline-block;
	text-align:center;
	width: 100%;
	}

.nav_links	{
	display: none;
	}
	
.nav_links li	{
	font-size: 20px;
	margin-bottom: 10px;	
	}
.all_history img{
	width: 100%;
	margin: 0 20px 0 0;
}

/* 	FOR ALBUMS PAGE */

/* FIRST GALLERY */

.photo-thumbnails {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner {
	display: inline-block;
	}	
	
/* SECOND GALLERY */

.photo-thumbnails2 {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail2 {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner2 {
	display: inline-block;
	}
	
/* THIRD GALLERY */

.photo-thumbnails3 {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail3 {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner3 {
	display: inline-block;
	}

/* FOURTH GALLERY */

.photo-thumbnails4 {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail4 {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner4 {
	display: inline-block;
	}
	
/* FIFTH GALLERY */

.photo-thumbnails5 {
	display: inline;
	float: none;
	width: 100%;
	position: relative;
	height: 450px;
	
	}
	
.thumbnail5 {
	display: inline;
	float: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px 10px 0;
	}
	
.thumbnail-inner5 {
	display: inline-block;
	}
	
#homepage{
	display: none;
}

}




/* largest screen sizes */
@media only screen and (min-width: 768px) 
	{ 
	
#hamburger	{
	display: none;
	}
	
.nav_links {
	display: block !important;
}

#homepage_mobile{
	display: none;
}

}